h1 {
  font-family: var("Inter", sans-serif);
}

h2 {
  font-family: var("Inter", sans-serif);
}

h3 {
  font-family: var("Inter", sans-serif);
}

h4 {
  font-family: var("Inter", sans-serif);
}

h5 {
  font-family: var("Inter", sans-serif);
}

h6 {
  font-family: var("Inter", sans-serif);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #ce1212;
  border-radius: 30px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(206, 18, 18)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header {
  z-index: 3;
  height: 80px;
  border-bottom: 1px solid #eee;
}

.header.sticked {
  border-color: #fff;
  border-color: #eee;
}

.btn-book:hover {
  background-color: #ec2727 !important;
  box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
  transition: 1s !important;
}

header nav ul li a {
  transition: 0.2s all ease;
}
header nav ul li a.active {
  position: relative;
  overflow: hidden;
}
header nav ul li a.active::after {
  content: "";
  position: absolute;
  background: var(#ce1212);
  width: 100%;
  height: 2px;
  left: 0;
  overflow: hidden;
}
header nav ul li a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ce1212;
  transition: 0.5s;
  margin: auto;
  display: block;
}
header nav ul li a:not(.active):hover::after {
  width: 100%;
  color: black;
}

.hero {
  padding: 112px 0 60px 0 !important;
  min-height: 60vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.hero h2 {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
}
.hero p {
  color: #4f4f5a !important;
}

.about-img {
  min-height: 500px;
}

.call-us {
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.play-btn {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  right: calc(50% - 47px);
  top: calc(50% - 47px);
  background: radial-gradient(#ce1212 50%, rgba(206, 18, 18, 0.4) 52%);
}
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 1;
}

.whyUs {
  padding: 80px 0 60px 0;
}
.whyUs .why-box {
  padding: 35px !important;
}
.whyUs .card-box {
  border: 1px solid rgba(55, 55, 63, 0.1);
  padding: 40px 30px !important;
  transition: 0.5s;
}
.whyUs .card-box i {
  width: 64px;
  height: 64px;
  background: rgba(206, 18, 18, 0.1019607843);
}
.whyUs .more-btn {
  background: rgba(255, 255, 255, 0.3019607843);
}
.whyUs .more-btn:hover {
  background-color: #fff;
  color: #ce1212 !important;
  transition: 1s all;
}

.number-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/stats-bg.jpg") center center;
  background-size: cover;
}
.number-section p {
  color: rgba(255, 255, 255, 0.6) !important;
}

.menu ul li {
  border-bottom: 2px solid #b6b6bf !important;
  cursor: pointer;
  height: 100%;
  margin: 0 8px;
  transition: 0.3s;
}
.menu ul li:hover {
  color: #ce1212;
}
.menu ul li a:hover {
  color: #ce1212;
}
.menu ul li .active {
  color: #ce1212 !important;
  border-color: #ce1212;
  border-bottom: 2px solid #ce1212 !important;
}

.testimonials {
  overflow: hidden;
}
.testimonials .testimonial-content {
  padding-left: 30px;
}
.testimonials .testimonial-content p i {
  color: #f05656;
  line-height: 0 !important;
}
.testimonials .testimonial-img {
  border-radius: 50% !important;
}
.testimonials .stars {
  color: #ffc107;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d1d1d7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ce1212 !important;
}

.chefs .chef-member {
  transition: 0.2s;
}
.chefs .chef-member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../images/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 4;
}
.chefs .chef-member .social {
  right: -100%;
  top: 30px;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
  background: rgba(255, 255, 255, 0.3019607843);
}
.chefs .chef-member .social a {
  transition: color 0.3s;
  color: rgba(55, 55, 63, 0.4);
}
.chefs .chef-member .social a:hover {
  color: rgba(55, 55, 63, 0.9);
}
.chefs .chef-member .member-info {
  padding: 10px 10px 20px 15px;
}
.chefs .chef-member span {
  color: rgba(33, 37, 41, 0.7019607843);
}
.chefs .chef-member p {
  line-height: 26px;
  color: rgba(33, 37, 41, 0.7019607843);
}
.chefs .chef-member:hover .social {
  right: 8px;
  opacity: 1;
}

.contact .row .icon {
  width: 56px;
  height: 56px;
  font-size: 24px;
  line-height: 0;
  background: #ce1212 !important;
  margin-right: 15px;
}

footer .icon {
  line-height: 0;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
}
footer .social-links a {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}
footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}
footer .copyright {
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
  padding-top: 30px !important;
}

.collapse.show {
  transition: 0.2s ease !important;
}

@media (max-width: 991px) {
  .key {
    background-color: #fff;
    height: 100vh !important;
  }
}
@media (min-width: 1200px) {
  .card-box:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
  }
  .chefs .chef-member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.4);
  }
}
